html, body, h1, h2, h3, h4, h5, h6{
    font-family: 'PT Sans Narrow', sans-serif;
}

.navigation .nav.sf-menu{
    font-family: 'PT Sans Narrow', sans-serif;
}

.navigation{
    display: inline-block;
    float: right;
    background-color: #ff6600;
    left: 5px;
    padding-right: 25px;
}

body{
    overflow: hidden;
}

.header{
    position: relative;
    /*margin-bottom: 175px;*/
    margin-bottom: 175px;
    z-index: 1;
}

.header-custom{
    margin-bottom: 130px;
}

.big-footer{
    padding-top: 25px;
}

.footer{
    height: 100px;
    background: #ff6600;
}

.footer .cpy {
    font-size: 14px;
    padding-top: 15px;
    color: #fff;
}

.footer-menu {
    padding: 15px 0 0;
}

.footer-menu a {
    color: #fff !important;
    font-weight: 400;
    font-size: 18px;
    position: relative;
    margin-right: 15px;
}

.footer-menu a:after{
    content: ' ';
    display: inline-block;
    width: 2px;
    top: 5px;
    right: -10px;
    height: 13px;
    background: #fff;
    position: absolute;
}

.footer-menu a:last-child::after{
    display:none;
}

.main-wrap{
    min-height: 100%;
    height: 100%;
    overflow-x: hidden;
    margin: 0 auto;
}

.logos {
    padding-top: 10px;
}

.logos a {
    display: inline-block;
    margin-right: 20px;
}

.facebook-logo{
    width: 20px;
    height: 20px;
}

.left-bar{
    width: 14.666667%;
    padding: 0 0 20px 0;
    border-bottom: 8px solid #ff6600;
    margin-bottom: 30px;
}

.right-bar{
    padding-left: 70px;
    width: 85.333333%;
}

.left-bar ul {
    line-height: 20px;
}

.left-bar li {
    margin-bottom: 15px;
}

.left-bar a {
    font-size: 20px;
    font-weight: 400;
    color: #222;
}

.left-bar a:hover{
    color: #ff6600;
}

.to-top, .to-top:hover {
    background-color: #ff6600;
    color: #ffffff;
    border: none;
}

.logo {
    width: 100%;
    background-color: transparent;
    left: 0;
}

.logo img {
    padding-bottom: 20px;
}

.logo, .is-sticky .logo {
    height: 100%;
}

.is-sticky .logo img {
    height: 62px;
}

/*.header .header-wrapper {
    background-color: #ff6600;
}*/

.sf-menu a, .sf-menu li.active > a {
    color: #ffffff;
}

.sf-menu.nav > li > a:hover:before,
.sf-menu.nav > li > a:focus:before {
    background-color: transparent;
    border-bottom: 5px solid #fff;
    box-sizing: border-box;
    height: 64px;
}

.sf-menu a:hover {
    color: #ffffff;
}

.sf-menu li.active {
    background-color: rgba(0, 0, 0, 0.2);
    border-bottom: 5px solid #fff;
    box-sizing: border-box;
    height: 64px;
}

.main-slider .btn-theme {
    border-color: #ff6600;
    background-color: #ff6600;
}

.main-slider .btn-theme:hover {
    background-color: #14181c;
    border-color: #14181c;
}

.main-slider .caption-subtitle {
    font-size: 43px;
}

.main-slider .form-search .form-title {
    background: #ff6600;
}

.main-slider .form-search.light .form-title .fa {
    font-size: 30px;
    line-height: 20px;
}

.main-slider .form-search .form-title:after {
    border-top: 8px solid #ff6600;
}

.min-arenda-days {
    font-size: 13px;
}

.thumbnail-car-card .caption-title {
    font-size: 20px;
    font-weight: 700;
}

.thumbnail-car-card .caption-title a:hover {
    color: black;
}

.thumbnail .media-link:hover img {
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.eftgroup-logo {
    position: relative;
    z-index: 9999;
    padding-top: 10px;
}

.eftgroup-logo img {
    height: 65px;
    padding-left: 10px;
}

.is-sticky .eftgroup-logo img {
    height: 35px;
}

.img-center {
    margin: 0 auto;
}

table.device-info tr td:nth-child(1) {
    width: 350px;
    font-weight: 700;
}

.block-title.alt {
    cursor: pointer;
    background-color: rgba(128, 128, 128, 0.13);
}

.block-title.alt:after {
    font-family: 'Glyphicons Halflings';
    content: "\e114";
    float: right;
    color: #a5abb7;
    border-left: 1px solid;
    padding: 9px;
    margin: -10px;
    position: relative;
    left: 60px;
}

.block-title.alt.collapsed:after {
    content: "\e080";
}

.input-group-btn button.arenda-minus {
    border-right-width: 0;
}

.swiper-button-prev, .swiper-button-next {
    line-height: 35px;
}

a.no-hover-underline {
    text-decoration: underline;
}

a.no-hover-underline:hover {
    color: #ff6600;
}

.other-contacts {
    background: #ff6600;
    padding: 15px;
    float: right;
    width: 86%;
}

.other-contacts p {
    color: #fff;
    text-align: center;
    font-weight: 700;
    border-bottom: 1px solid #fff;
}

.other-contacts li {
    margin-bottom: 5px;
}

.other-contacts a {
    color: #fff;
}

.other-contacts a.active, .other-contacts a:hover {
    text-decoration: underline;
}

.other-contacts a {
    font-size: 14px;
}

.js-cat{
    display: none;
}

.mobile-menu{
    display: none;
}

@media (min-width: 1200px) {
    .sf-menu li:nth-child(5) {
        margin-right: 150px;
    }
}

@media (max-width: 991px) {
    .sf-menu li {
        display: inline-block !important;
    }

    .logo img {
        max-width: none;
        height: 72px;
    }

    a.menu-toggle {
        color: white;
    }

    .main-slider .caption-subtitle {
        font-size: 20px;
    }

    .main-slider .caption-text {
        font-size: 16px;
    }

    .footer{
        height: 215px;
    }

    .eftgroup-logo{
        display: none;
    }

    .navigation{
        top: 12px;
        float: none;
        display: block;
    }
}

@media (max-width: 767px) {


    .header{
        margin-bottom: 50px;
    }

    .thumbnail-car-card{
        height: auto !important;
    }

    .contact-form-section{
        /*margin-top: 275px;*/
        margin-top: 0;
    }

    .logos{
        text-align: center;
    }

    .other-contacts {
        float: none;
        width: 100%;
    }

    .contact-form{
        margin-left: 15px;
    }

    .contact-info .single-info{
        padding: 0;
        text-align: center;
    }

    .contact-info .single-info i{
        position: relative;
    }

    .phone-holder{
        padding-top: 75px !important;
        padding-left: 0 !important;
    }

    .logo{
        left: 0 !important;
    }

    .mobile-logo{
        right: 0 !important;
    }

    .right-bar{
        padding-left: 0;
        width: 100%;
        padding-right: 0;
    }

    .js-cat{
        display: block;
        margin-top: 20px;
        margin-bottom: 20px;
        cursor: pointer;
        padding: 15px 0;
        text-align: center;
        background: #ff6600;
        width: 100%;
    }

    .js-cat h3 {
        color: #ffffff;
        font-weight: 700;
        margin: 0;
        display: inline-block;
        vertical-align: middle;
    }

    .js-cat a {
        display: block;
        color: #fff;
        font-size: 20px;
        margin-bottom: 15px;
    }

    .js-cat a:hover{
        color: #ffffff;
    }

    .mobile-cat {
        padding-top: 20px;
    }

    .center-content{
        /*top: 275px;*/
        top: 0;
    }

    .mobile-menu {
        display: block;
        background: #ff6600;
        z-index: 99;
        margin: 15px auto 0;
        width: 200px;
    }

    .slicknav_btn {
        display: block;
        padding: 10px 60px;
        border-radius: 5px;
        margin: 0 auto;
    }

    .mobile-menu .slicknav_menutxt {
        font-size: 18px;
        color: #FFF;
        font-weight: bold;
        display: block;
        line-height: 1.188em;
        float: left;
        text-transform: uppercase;
    }

    .mobile-menu .slicknav_icon {
        float: right;
        margin: 0.288em 0 0 0.438em;
    }

    .mobile-menu .slicknav_icon-bar {
        display: block;
        width: 1.125em;
        height: 2px;
        background-color: #f5f5f5;
        -webkit-border-radius: 1px;
        -moz-border-radius: 1px;
        border-radius: 1px;
        margin-bottom: 3px;
    }

    .slicknav_icon.active span:first-child {
        -webkit-transform: translateY(250%) rotate(45deg);
        transform: translateY(250%) rotate(45deg);
    }

    .slicknav_icon.active span:nth-child(2) {
        background: transparent;
    }

    .slicknav_icon.active span:last-child {
        -webkit-transform: translateY(-250%) rotate(-45deg);
        transform: translateY(-250%) rotate(-45deg);
    }

    .slicknav_icon span {
        -webkit-transition: all .2s;
        -o-transition: all .2s;
        transition: all .2s;
    }

    .links {
        padding-bottom: 10px;
        text-align: center;
    }

    .links a {
        display: block;
        margin-bottom: 10px;
        color: #fff;
        font-weight: 700;
    }

    p#contact-address{
        /*width: 200px !important;*/
        width: 100% !important;
        text-align: center;
    }


}

.menu-wrap {
    display: inline-block;
    padding-top: 10px;
    /*background: #ff6600;*/
    /*left: 50px;*/
}

.header .header-wrapper > .container.top-menu {
    position: absolute;
    left: 0;
    right: 0;
    top: 25px;
    vertical-align: middle;
}

.sf-menu.nav a.active{
    background-color: transparent;
    border-bottom: 5px solid #fff;
    box-sizing: border-box;
    height: 64px;
}

.sf-menu.nav a:focus{
    color: #ffffff;
}

.sf-menu.nav > li {
    background-color: #ff6600;
    padding-left: 25px;
}

.sf-menu.nav > li > a {
    padding: 15px;
    font-size: 20px;
}

.sf-menu li:hover{
    color: #ffffff;
}

@media (min-width: 992px) and (max-width: 1200px) {


    .sf-menu.nav > li > a {
        font-size: 16px;
    }

    .menu-wrap {
        left: 0;
    }

    .sf-menu.nav > li {
        padding-left: 10px;
    }

    .sf-menu li.active{
        height: 54px;
    }

    .sf-menu.nav > li > a:hover:before, .sf-menu.nav > li > a:focus:before {
        height: 64px;
    }

    .newsletter-container-left h3 {
        font-size: 20px !important;
    }

    p#contact-address{
       width: 200px !important;
    }

}

@media (max-width: 992px) {
    #jssor_1{
        top: 25px !important;
    }

    .logo{
        left: 15px;
        width: unset;
    }

    .header{
        box-shadow: none;
        margin-bottom: 70px;
    }

    .header .header-wrapper > .container.top-menu {
        position: relative;
        top: 25px;
    }

    .menu-wrap {
        margin: 0;
        padding: 0;
    }

    .header .header-wrapper {
        background-color: rgba(131, 131, 131, 0);
       /* height: 60px;*/
        height: auto;
    }

    a.menu-toggle {
        color: #ff6600;
        border-color: #ff6600;
    }

    .mobile-logo{
        position: relative;
        right: 0;
        display: block !important;
        float: right;
    }

    .phone-holder{
        text-align: center;
    }

    .phone-container, .email-container{
        display: inline-block;
    }

    .header-custom{
       /* margin-bottom: 175px;*/
        margin-top: 0;
    }

    .big-footer nav, .big-footer p, .big-footer .logos{
        text-align: center;
    }

    .big-footer .logos{
        padding-top: 15px;
    }
}

@media (max-width: 1366px) {
    .swiper .swiper-button-next {
        right: -40px;
    }

    .swiper .swiper-button-prev {
        left: -40px;
    }

    .eftgroup-logo img{
        padding-left: 0;
    }
}

.div-cell {
    padding-top: 10%;
}

.page-section.breadcrumbs .page-header {
    padding-top: 100px;
}

.font-big {
    font-size: 24px;
}

.orange {
    color: #ff6600;
}

.swiper-button-prev, .swiper-button-next {
    width: auto;
    height: auto;
    border: none;
}

.swiper-button-prev .fa, .swiper-button-next .fa {
    color: #ff6600;
    font-size: 72px;
}

button.selectpicker {
    border: none;
}

.font-size-13 {
    font-size: 13px;
}

.contact-info a {
    color: #ff6000 !important;
}

.contact-info h2 {
    margin-top: 0;
}

.no-margin{
    margin: 0 !important;
}



.no-margin-top{
    margin-top: 0 !important;
}

.no-margin-right {
    margin-right: 0 !important;
}

.page-section.breadcrumbs .page-header h1 {
    font-size: 50px;
}

.img-carousel .owl-item img {
    width: 651px;
    height: 463px;
    object-fit: contain;
    -o-object-fit: contain;
    font-family: 'object-fit: contain;'
}

.car-thumbnails img {
    width: 70px;
    height: 70px;
    object-fit: contain;
    -o-object-fit: contain;
    font-family: 'object-fit: contain;'
}

.model-thumb {
    width: 88px;
    height: 88px;
}

.form-control.error {
    border: 1px solid red;
}

.bootstrap-datetimepicker-widget .day.disabled {
    color: #cccccc;
}

.bootstrap-datetimepicker-widget .day.disabled:hover {
    color: #cccccc;
}

#calcApp a {
    text-decoration: underline;
}

#calcApp p > a:hover, #calcApp p > a:active, #calcApp p > a:focus {
    color: darkorange;
}

.arenda-content p > a:hover, .page-section p > a:active, .page-section p > a:focus {
    color: darkorange;
}

section.arenda-content ul {
    list-style: disc;
    padding-left: 40px;
    margin-left: 10px;
}

section.arenda-content ul li {
    line-height: 25px;
}

section.arenda-content {
    padding-top: 0;
}

.tooltip > .tooltip-inner {
    background-color: #ff6600;
    color: #FFFFFF;
    padding: 15px;
    max-width: 550px;
}

.google-map iframe {
    pointer-events: none;
}

.google-map iframe.clicked {
    pointer-events: auto;
}

.phone-holder{
    z-index: 1;
}

.phone-holder p{
    display: inline-block;
}

.i-phone{
    background: url(../images/phone.png) no-repeat;
    background-size: 25px 25px;
}

.i-mail{
    background: url(../images/Mail.svg) no-repeat;
}

.i-phone, .i-mail{
    vertical-align: middle;
    display: inline-block;
    margin-right: 10px;
    width: 26px;
    height: 26px;
}

.phone-block{
    padding: 0;
}

.phone-holder {
    padding-left: 50px;
    padding-top: 15px;
    padding-right: 0;
}

.phone-container, .email-container{
    width: 180px;
    font-size: 18px;
}

.mobile-logo{
    display: none;
}

.phone-block {
    width: 180px;
    font-size: 18px;
    left: 5px;
}

.newsletter{
    background-color: #a3a3a3;
    color: #ffffff;
}

.newsletter-container-right{
    margin-top: 10px;
    margin-bottom: 20px;
}

p#contact-address{
    width: 230px;
}


.newsletter-container-right .input-full-width{
    width: 100%;
    padding-right: 150px;
}

.newsletter-container-right #newsletter-email{
    /*width: 50%;*/
}

.newsletter .btn-subscribe{
    height: 50px;
}

.newsletter-container-left{
    width: 290px;
}

.newsletter-container-left h3{
    margin-bottom: 5px;
    float: left;
    font-weight: 700;
    color: #000000;
}

.newsletter p{
    float: left;
    font-size: 18px;
    text-transform: none;
    font-weight: normal;
    text-align: left;
}

.newsletter #newsletter-title{
    display: inline-block;
    color: #ffffff;
}

.single-info {
    position: relative;
    padding-left: 45px;
    margin-bottom: 40px;
}

.single-info i {
    position: absolute;
    top: 3px;
    left: 0;
    color: #333;
    font-size: 15px;
}

.single-info h3 {
    color: #000000;
    font-size: 15px;
    font-weight: 700;
    letter-spacing: 0.5px;
    margin-bottom: 8px;
}

#contact-form{
    margin-top: 25px;
}

#contact-form input, #contact-form textarea{
    border: 1px solid lightgrey;
}

.product .page-header h1{
    font-size: 28px !important;
    text-align: center !important;
    color: #ff6600 !important;
}

.product-category .category-description, .content, .news-description{
    text-align: justify !important;
    font-size: 18px !important;
    margin-bottom: 15px;
}

.product-category h2, .content h2, .contact-info h2{
    text-align: center;
    font-family: 'PT Sans Narrow', sans-serif;
}

.product-category .category-description img, .content img{
    width: 100% !important;
    height: auto !important;
}

.media-object{
    width: 175px !important;
    height: auto !important;
}

.btn-news-more{
    background-color: #ff6600;
    color: #ffffff !important;
}

.orange-center{
    color: #ff6600;
    text-align: center;
}

.jssor-slider-container{
    width: 100%;
    height: 400px;
}

.no-padding{
    padding: 0 !important;
}

.content-list{
    margin-top: 50px;
}

.thumbnail-car-card{
    min-height: 300px;
}

.breadcrumb{
    margin-bottom: 5px;
}

.page-section.contacts{
    padding-top: 5px;
}

#test-drive-frm textarea{
    height: 100px;
}

.page-section.product{
    background-color: transparent;
}

.page-section.product .page-header{
    padding-top: 0;
}

.package-price{
    color: #ff6600;
    font-size: 16px;
    float: right;
    padding-right: 10px;
}

.swal2-icon.swal2-success .swal2-success-ring{
    border-color: #ff6600 !important;
}

.swal2-icon.swal2-success [class^='swal2-success-line']{
    background-color: #ff6600 !important;
}

.thumbnail .media img {
    width: 230px !important;
}

.modal-dialog{
    overflow-y: initial !important
}
.modal-body{
    height: 400px;
    overflow-y: auto;
}

.test-drive-container,
.test-drive-container label,
.test-drive-container select,
.test-drive-container input,
.test-drive-container textarea{
    font-size: 18px !important;
}

@media (max-width: 767px) {
    .logo{
        position: relative;
        width: 100%;
        margin-bottom: 0;
    }
    .mobile-logo{
        width: 100%;
        text-align: center;
    }
    h2.page-header.no-margin{
        margin-top: 50px !important;
        margin-bottom: 50px !important;
        float: none;
        position: static;
    }

    .media-left{
        display: block;
        width: 100%;
        padding-right: 0;
    }
    .media-left a{
        width: 100% !important;
    }

    .media-object{
        width: 100% !important;
        max-width: 480px;
        margin: 0 auto;
    }

    .media-heading{
        text-align: center;
        margin-top: 25px;
        margin-bottom: 25px;
    }
}


.index-products-row{
    display: flex;
    flex-wrap: wrap;
}

@media (max-width: 767px){
     .index-product-col{
    flex-basis: 100%;
}
}

.index-products-row .thumbnail .media img{
    height: auto;
    width: 245px;
    max-width: 90%; 
    
}

.model-test-drive,
.model-demo,
.model-consultation{
    background-color: #ff6600;
    color: white;
}

.media-link > img{
    height: 230px !important;
    object-fit: contain;
}

.caption > .caption-title {
    display: block;
    height: 2.5em;
    overflow: hidden; 
    text-overflow: ellipsis;
}